@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --fd-layout-width: 2000px;
  --radius: 0.625rem;
  --background: #FFFFFF;
  --foreground: #1F2328;
  --card: #FFFFFF;
  --card-foreground: #1F2328;
  --popover: #FFFFFF;
  --popover-foreground: #1F2328;
  --primary: #0077FF;
  --primary-foreground: #FFFFFF;
  --secondary: #F6F8Fa;
  --secondary-foreground: #1F2328;
  --muted: #F6F8Fa;
  --muted-foreground: #1F2328;
  --accent: #0077FF30;
  --accent-foreground: #1F2328;
  --destructive: #FF0000;
  --border: #D1D9E0;
  --input: #D1D9E0;
  --ring: #D1D9E0;
  --chart-1: #FF0000;
  --chart-2: #0077FF;
  --chart-3: #00a000;
  --chart-4: #FFD900;
  --chart-5: #FE9A00;
  --sidebar: #F6F8FA;
  --sidebar-foreground: #1F2328;
  --sidebar-primary: #0077FF;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #0077FF30;
  --sidebar-accent-foreground: #0077FF;
  --sidebar-border: #D1D9E0;
  --sidebar-ring: #FFFFFF;

  /* Color Button */
  --color-1: oklch(66.2% 0.225 25.9);
  --color-2: oklch(60.4% 0.26 302);
  --color-3: oklch(69.6% 0.165 251);
  --color-4: oklch(80.2% 0.134 225);
  --color-5: oklch(90.7% 0.231 133);
}

@theme {
  --color-fd-background: #FFFFFF; /* Background color */
  --color-fd-foreground: #1F2328; /* Text Color */
  --color-fd-muted: #EFF1F3; /* Code block background color */
  --color-fd-muted-foreground: #1F2328; /* Subtext and icon color */
  --color-fd-popover: #FFFFFF; /* Popup color */
  --color-fd-popover-foreground: #0077FF; /* Sidebar folder list item color */
  --color-fd-card: #F6F8FA; /* Sidebar and Card color */
  --color-fd-card-foreground: #1F2328; /* Inline TOC text color */
  --color-fd-border: #D1D9E0; /* Divider color */
  --color-fd-primary: #0077FF; /* Accent color */
  --color-fd-primary-foreground: #FFFFFF; /* Accent foreground color */
  --color-fd-secondary: #F6F8FA; /* Control background color */
  --color-fd-secondary-foreground: #1F2328; /* Control foreground color */
  --color-fd-accent: #0077FF30; /* color when the button is pressed and the color of the theme switcher */
  --color-fd-accent-foreground: #0077FF; /* color of the foreground and the color of the theme switcher icon when the button is pressed. */
  --color-fd-ring: #0077FF; /* Focus ring color */
}

.dark {
  --color-fd-background: #0D1117; /* Background color */
  --color-fd-foreground: #F0F6FC; /* Text Color */
  --color-fd-muted: #161B22; /* Code block background color */
  --color-fd-muted-foreground: #9198A1; /* Subtext and icon color */
  --color-fd-popover: #010409; /* Popup color */
  --color-fd-popover-foreground: #278CFF; /* Sidebar folder list item color */
  --color-fd-card: #010409; /* Sidebar and Card color */
  --color-fd-card-foreground: #F0F6FC; /* Inline TOC text color */
  --color-fd-border: #3D444D; /* Divider color */
  --color-fd-primary: #278CFF; /* Accent Color */
  --color-fd-primary-foreground: #FFFFFF; /* Accent foreground color */
  --color-fd-secondary: #212830; /* Control background color */
  --color-fd-secondary-foreground: #F0F6FC; /* Control foreground color */
  --color-fd-accent: #278CFF30; /* color when the button is pressed and the color of the theme switcher */
  --color-fd-accent-foreground: #278CFF; /* color of the foreground and the color of the theme switcher icon when the button is pressed. */
  --color-fd-ring: #278CFF; /* Focus ring color */

  /* Shadcn/ui css */
  --background: #0D1117;
  --foreground: #F0F6FC;
  --card: #010409;
  --card-foreground: #F0F6FC;
  --popover: #010409;
  --popover-foreground: #F0F6FC;
  --primary: #278CFF;
  --primary-foreground: #FFFFFF;
  --secondary: #161b22;
  --secondary-foreground: #F0F6FC;
  --muted: #161b22;
  --muted-foreground: #9198A1;
  --accent: #278CFF30;
  --accent-foreground: #F0F6FC;
  --destructive: #FF4444;
  --border: #3D444D;
  --input: #3D444D;
  --ring: #278CFF;
  --chart-1: #FF0000;
  --chart-2: #278CFF;
  --chart-3: #2fd62f;
  --chart-4: #ffe13a;
  --chart-5: #ffac30;
  --sidebar: #010409;
  --sidebar-foreground: #F0F6FC;
  --sidebar-primary: #278CFF;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #278CFF30;
  --sidebar-accent-foreground: #278CFF;
  --sidebar-border: #3D444D;
  --sidebar-ring: #278CFF;
  --color-1: oklch(66.2% 0.225 25.9);
  --color-2: oklch(60.4% 0.26 302);
  --color-3: oklch(69.6% 0.165 251);
  --color-4: oklch(80.2% 0.134 225);
  --color-5: oklch(90.7% 0.231 133);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-rainbow: rainbow var(--speed, 2s) infinite linear;
  --color-color-5: var(--color-5);
  --color-color-4: var(--color-4);
  --color-color-3: var(--color-3);
  --color-color-2: var(--color-2);
  --color-color-1: var(--color-1);
  @keyframes rainbow {
  0% {
    background-position: 0%;
    }
  100% {
    background-position: 200%;
    }
  }
  --animate-blink-cursor: blink-cursor 1.2s step-end infinite
;
  @keyframes blink-cursor {
  0%, 49% {
    opacity: 1;
    }
  50%, 100% {
    opacity: 0;
    }
  }
  --animate-gradient: gradient 8s linear infinite;
  @keyframes gradient {
  to {
    background-position: var(--bg-size, 300%) 0;
    }
  }
  --animate-shine: shine var(--duration) infinite linear;
  @keyframes shine {
  0% {
    background-position: 0% 0%;
    }
  50% {
    background-position: 100% 100%;
    }
  to {
    background-position: 0% 0%;
    }
  }
  --animate-aurora: aurora 8s ease-in-out infinite alternate;
  @keyframes aurora {
  0% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
    }
  25% {
    background-position: 50% 100%;
    transform: rotate(5deg) scale(1.1);
    }
  50% {
    background-position: 100% 50%;
    transform: rotate(-3deg) scale(0.95);
    }
  75% {
    background-position: 50% 0%;
    transform: rotate(3deg) scale(1.05);
    }
  100% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
    }
  }}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}